.discover_card {
  position: relative;
  width: 200px;
  overflow: var(--img-hidden);
}

.discover_data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.discover_title,
.discover_description {
  color: var(--white-color);
}

.discover_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.discover_description {
  display: block;
  font-size: var(--smaller-font-size);
}

.discover_img {
  transition: var(--img-transition);
  width: 200px;
  height: 280px;
}

.discover_img:hover {
  transform: var(--img-scale);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 768px) {
  .discover_container {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .discover_container {
    width: 900px;
  }
}
