.footer_container {
  row-gap: 5rem;
}

.footer_content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer_title,
.footer_subtitle {
  font-size: var(--h3-font-size);
}

.footer_title {
  margin-bottom: var(--mb-0-5);
}

.footer_description {
  margin-bottom: var(--mb-2);
}

.footer_social {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1-25);
}

.footer_subtitle {
  margin-bottom: var(--mb-1);
}

.footer_item {
  margin-bottom: var(--mb-0-75);
}

.footer_link {
  color: var(--text-color);
}

.footer_link:hover {
  color: var(--title-color);
}

.footer_rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}

.footer_copy {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

@media screen and (min-width: 768px) {
  .footer_rights {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer_content {
    justify-items: center;
  }
}
